#container {
  min-height: 100vh;
  margin-top:0;
  padding:0;
}


#message-container {
  min-height: 50vh;
}

#card {
  height: 300px;
  margin-top: 46px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .9);
  border-radius: 10px;
  color: #fff;
  background: rgba(0, 0, 0, .5);
}
 
#card2 {
  margin-top: 46px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .9);
  border-radius: 10px;
  color: #fff;
  background: rgba(0, 0, 0, .5);
}

#cardheader {
  margin-top: 30px;
  padding: 0;
  text-align: center;
  font-size: 24pt;
}

#cardtext {
  text-align: center;
  margin-top: 50px;
  margin-left: 35px ; 
  margin-right: 35px ;
  font-size: 18pt;
}

.icon-text {
  margin-top: 30px;
  text-align: center;
  margin: auto;
}

#h1 {
  text-shadow: -1px 2px 7px rgba(0, 0, 0, 0.64);
  margin-top: 30px;
  padding: 0;
  text-align: center;
  font-size: 32pt;
  color: rgb(244, 230, 230)
}

#h2 {
  text-shadow: -1px 2px 7px rgba(0, 0, 0, 0.64);
  margin-top: 15px;
  padding: 0;
  text-align: center;
  font-size: 20pt;
  color: rgb(244, 230, 230)
}

#login-box-a {
  background: transparent;
}

#login-box-a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4,
  0 0 50px #03e9f4,
  0 0 100px #03e9f4;
}

