.sidebar {
min-width: 250px;
max-width: 250px;
background: #f2eef7;
margin-left: -250px;
transition: all 0.5s;
text-decoration: none;
color: #7386d5;
}

.sidebar .logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #f2eef7;
}


.sidebar-header h3 {
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.nav-item:hover {
  color: #7386d5;
  background: linear-gradient(89.97deg, #f2eef7 1.84%, #ffd891 102.67%);
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}
