.sidebar {
  position: fixed;
  grid-column: 1;
  width: 20%;
  height: 100vh;
  background-color: var(--prime-color);
  text-align: center;
}

.sidebar li{
  padding: 10px;
  font-size: 1.5rem;
  border-bottom: 1px
}

sidebar li:hover {
  transition: all 0.3s;
  background-color: aliceblue;

}

.sidebar ul {
  list-style: none;
  padding: 0;
  
}

.sidebar .nav-link {
  text-decoration: none;
  color: wheat;
}

.sidebar .logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
