
@import url('https: //fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet');

#root{
  --font-family: 'Manrope',
  sans-serif;
  margin-left: 20vw;
  --prime-color: #DDF3F5
  color: black; 
  --card-color: linear-gradient(89.97deg, #f2eef7 1.84%, #ffd891 102.67%);
}

button{
  background: #fd995c;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  font: normal bold 18px "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

button:hover{
  transition: all 0.3s ;
  background:linear-gradient(89.97deg, #f2eef7 1.84%, #ffd891 102.67%) ;
}

.page-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  grid-column: 2;
}

