.loginBG{
  width: 100vw;
  min-height: 80vh;
  position: absolute;
  background: linear-gradient(89.97deg, #f2eef7 1.84%, #ffd891 102.67%);
  margin-left: -20.6vw ;
  margin-top: -57px;
}

.login-panel-input{
  width: 70%;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-bottom: 100px;
  background-color: rgb(183, 226, 226);
  width: 30vw;
  max-width: 300px;
  border: 1px solid rgb(136, 136, 221);
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: var(--font-family);
}

#cardtitle {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  font-size: 44px;
  margin-bottom: 30px;
}
.row h1 {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  margin-bottom: -10px;
}
.container-fluid {
  height: 110%;
  background: linear-gradient(89.97deg, #f2eef7 1.84%, #ffd891 102.67%);
}

.row p {
  font-size: 24px;
  margin-bottom: 50px;
}

.button {
  justify-content: center;
  align-items: center;
}

#head {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 200px;
  text-align: center;
  font-size: 44px;
}

#card {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
}

